In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder \
      .appName("Basics") \
      .getOrCreate()

spark.version

'4.0.1'

#First DataFrame

In [ ]:
data=[
    {"name":"Shone","age":21},
    {"name":"Sara","age":22},
    {"name":"Hari","age":23},

]
df=spark.createDataFrame(data)
df.show()

+---+-----+
|age| name|
+---+-----+
| 21|Shone|
| 22| Sara|
| 23| Hari|
+---+-----+

In [ ]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [ ]:
df.select("name").show()
df.select("name","age").show()

+-----+
| name|
+-----+
|Shone|
| Sara|
| Hari|
+-----+

+-----+---+
| name|age|
+-----+---+
|Shone| 21|
| Sara| 22|
| Hari| 23|
+-----+---+

In [ ]:
df.filter(df.age>21).show()
df.filter(df.name=="Sara").show()

+---+----+
|age|name|
+---+----+
| 22|Sara|
| 23|Hari|
+---+----+

+---+----+
|age|name|
+---+----+
| 22|Sara|
+---+----+

In [ ]:
from pyspark.sql.functions import col
df2=df.withColumn("age_plus_5",col("age")+5)
df2.show()

+---+-----+----------+
|age| name|age_plus_5|
+---+-----+----------+
| 21|Shone|        26|
| 22| Sara|        27|
| 23| Hari|        28|
+---+-----+----------+

In [ ]:
from pyspark.sql.functions import lower
df3=df.withColumn("name_lower",lower(col("name")))
df3.show()

+---+-----+----------+
|age| name|name_lower|
+---+-----+----------+
| 21|Shone|     shone|
| 22| Sara|      sara|
| 23| Hari|      hari|
+---+-----+----------+

In [ ]:
df.drop("age").show()

+-----+
| name|
+-----+
|Shone|
| Sara|
| Hari|
+-----+