In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder \
      .appName("Basics") \
      .getOrCreate()

In [ ]:
data = [
("C001", "Arjun", "Hyderabad", 25, 45000, "Electronics"),
("C002", "Meera", "Chennai", 32, 52000, "Grocery"),
("C003", "Rajesh", "Bangalore", 29, 61000, "Clothing"),
("C004", "Priya", "Delhi", 22, 38000, "Grocery"),
("C005", "Sanjay", "Mumbai", 35, 72000, "Electronics"),
("C006", "Kavya", "Hyderabad", 28, 48000, "Grocery"),
("C007", "Imran", "Delhi", 31, 53000, "Clothing"),
("C008", "Divya", "Chennai", 27, 45000, "Electronics"),
("C009", "Anil", "Bangalore", 40, 85000, "Furniture"),
("C010", "Ritu", "Mumbai", 23, 39000, "Clothing"),
("C011", "Hari", "Hyderabad", 33, 56000, "Grocery"),
("C012", "Sana", "Delhi", 26, 47000, "Electronics"),
("C013", "Vikram", "Chennai", 38, 91000, "Furniture"),
("C014", "Deepa", "Mumbai", 30, 62000, "Clothing"),
("C015", "Asha", "Bangalore", 24, 41000, "Grocery"),
("C016", "Kiran", "Delhi", 29, 59000, "Furniture"),
("C017", "Farah", "Hyderabad", 36, 70000, "Clothing"),
("C018", "Tarun", "Chennai", 28, 53000, "Furniture"),
("C019", "Nisha", "Mumbai", 21, 35000, "Grocery"),
("C020", "Yusuf", "Bangalore", 34, 76000, "Electronics"),
("C021", "Pooja", "Delhi", 27, 47000, "Clothing"),
("C022", "Zara", "Hyderabad", 32, 58000, "Grocery"),
("C023", "Ajay", "Chennai", 30, 51000, "Furniture"),
("C024", "Reema", "Bangalore", 28, 49000, "Clothing"),
("C025", "Gautam", "Mumbai", 39, 82000, "Furniture"),
("C026", "Swati", "Delhi", 25, 46000, "Electronics"),
("C027", "Mahesh", "Hyderabad", 41, 90000, "Furniture"),
("C028", "Anita", "Chennai", 26, 44000, "Clothing"),
("C029", "Sameer", "Bangalore", 33, 68000, "Electronics"),
("C030", "Leela", "Delhi", 22, 36000, "Grocery")
]
columns = ["customer_id", "name", "city", "age", "annual_spend", "category"]
df = spark.createDataFrame(data, columns)
df.show()

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend|   category|
+-----------+------+---------+---+------------+-----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|
|       C008| Divya|  Chennai| 27|       45000|Electronics|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|
+-----------+------+---------+---+------------+-----------+
only showing top 20 rows

#Show the first 10 customers.

In [ ]:
df.show(10)

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend|   category|
+-----------+------+---------+---+------------+-----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|
|       C008| Divya|  Chennai| 27|       45000|Electronics|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|
+-----------+------+---------+---+------------+-----------+
only showing top 10 rows

List all unique cities.

In [ ]:
df.select("city").distinct().show()

+---------+
|     city|
+---------+
|Bangalore|
|  Chennai|
|   Mumbai|
|    Delhi|
|Hyderabad|
+---------+

#Display only customer_id, name, and annual_spend columns.

In [ ]:
df.select("customer_id","name","annual_spend").show()

+-----------+------+------------+
|customer_id|  name|annual_spend|
+-----------+------+------------+
|       C001| Arjun|       45000|
|       C002| Meera|       52000|
|       C003|Rajesh|       61000|
|       C004| Priya|       38000|
|       C005|Sanjay|       72000|
|       C006| Kavya|       48000|
|       C007| Imran|       53000|
|       C008| Divya|       45000|
|       C009|  Anil|       85000|
|       C010|  Ritu|       39000|
|       C011|  Hari|       56000|
|       C012|  Sana|       47000|
|       C013|Vikram|       91000|
|       C014| Deepa|       62000|
|       C015|  Asha|       41000|
|       C016| Kiran|       59000|
|       C017| Farah|       70000|
|       C018| Tarun|       53000|
|       C019| Nisha|       35000|
|       C020| Yusuf|       76000|
+-----------+------+------------+
only showing top 20 rows

#Filter all customers who spend more than 60000 annually.

In [ ]:
df.filter(df.annual_spend>60000).show()

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend|   category|
+-----------+------+---------+---+------------+-----------+
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|
|       C025|Gautam|   Mumbai| 39|       82000|  Furniture|
|       C027|Mahesh|Hyderabad| 41|       90000|  Furniture|
|       C029|Sameer|Bangalore| 33|       68000|Electronics|
+-----------+------+---------+---+------------+-----------+

#Show all customers from Delhi who are younger than 30.

In [ ]:
df.filter((df.city=="Delhi") & (df.age<30)).show()

+-----------+-----+-----+---+------------+-----------+
|customer_id| name| city|age|annual_spend|   category|
+-----------+-----+-----+---+------------+-----------+
|       C004|Priya|Delhi| 22|       38000|    Grocery|
|       C012| Sana|Delhi| 26|       47000|Electronics|
|       C016|Kiran|Delhi| 29|       59000|  Furniture|
|       C021|Pooja|Delhi| 27|       47000|   Clothing|
|       C026|Swati|Delhi| 25|       46000|Electronics|
|       C030|Leela|Delhi| 22|       36000|    Grocery|
+-----------+-----+-----+---+------------+-----------+

#Create a new column named "spend_lakh" = annual_spend / 100000.

In [ ]:
from pyspark.sql.functions import col,when
df2=df.withColumn("spend_lakh",col("annual_spend")/100000)
df2.show()

+-----------+------+---------+---+------------+-----------+----------+
|customer_id|  name|     city|age|annual_spend|   category|spend_lakh|
+-----------+------+---------+---+------------+-----------+----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|      0.52|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|      0.38|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|      0.56|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|      0.41|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|
+-----------+------+---------+---+------------+-----------+----------+
only showing top 20 rows

Create a new column "customer_type"
Logic:
spend > 70000 → Premium
else → Standard
Use when() and otherwise().

In [ ]:

df = df.withColumn("customer_type", when(col("annual_spend") > 70000, "Premium").otherwise("Standard"))

df.show()

+-----------+------+---------+---+------------+-----------+-------------+
|customer_id|  name|     city|age|annual_spend|   category|customer_type|
+-----------+------+---------+---+------------+-----------+-------------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|     Standard|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|     Standard|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|     Standard|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|     Standard|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      Premium|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|     Standard|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|     Standard|
|       C008| Divya|  Chennai| 27|       45000|Electronics|     Standard|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      Premium|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|     Standard|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|     Standard|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|     Standard|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      Premium|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|     Standard|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|     Standard|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|     Standard|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|     Standard|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|     Standard|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|     Standard|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      Premium|
+-----------+------+---------+---+------------+-----------+-------------+
only showing top 20 rows

#Show customers whose name starts with the letter A.

In [ ]:

df.filter(col("name").startswith("A")).show()

+-----------+-----+---------+---+------------+-----------+-------------+
|customer_id| name|     city|age|annual_spend|   category|customer_type|
+-----------+-----+---------+---+------------+-----------+-------------+
|       C001|Arjun|Hyderabad| 25|       45000|Electronics|     Standard|
|       C009| Anil|Bangalore| 40|       85000|  Furniture|      Premium|
|       C015| Asha|Bangalore| 24|       41000|    Grocery|     Standard|
|       C023| Ajay|  Chennai| 30|       51000|  Furniture|     Standard|
|       C028|Anita|  Chennai| 26|       44000|   Clothing|     Standard|
+-----------+-----+---------+---+------------+-----------+-------------+

#Filter customers where category is either Clothing or Electronics.

In [ ]:
df.filter((col("category")=="Clothing") |(col("category")== "Electronics")).show()

+-----------+------+---------+---+------------+-----------+-------------+
|customer_id|  name|     city|age|annual_spend|   category|customer_type|
+-----------+------+---------+---+------------+-----------+-------------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|     Standard|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|     Standard|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      Premium|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|     Standard|
|       C008| Divya|  Chennai| 27|       45000|Electronics|     Standard|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|     Standard|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|     Standard|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|     Standard|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|     Standard|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      Premium|
|       C021| Pooja|    Delhi| 27|       47000|   Clothing|     Standard|
|       C024| Reema|Bangalore| 28|       49000|   Clothing|     Standard|
|       C026| Swati|    Delhi| 25|       46000|Electronics|     Standard|
|       C028| Anita|  Chennai| 26|       44000|   Clothing|     Standard|
|       C029|Sameer|Bangalore| 33|       68000|Electronics|     Standard|
+-----------+------+---------+---+------------+-----------+-------------+

#Convert the city name to uppercase using the upper() function.

In [ ]:
from pyspark.sql.functions import upper
df3=df.withColumn("city",upper(col("city")))
df3.show()

+-----------+------+---------+---+------------+-----------+-------------+
|customer_id|  name|     city|age|annual_spend|   category|customer_type|
+-----------+------+---------+---+------------+-----------+-------------+
|       C001| Arjun|HYDERABAD| 25|       45000|Electronics|     Standard|
|       C002| Meera|  CHENNAI| 32|       52000|    Grocery|     Standard|
|       C003|Rajesh|BANGALORE| 29|       61000|   Clothing|     Standard|
|       C004| Priya|    DELHI| 22|       38000|    Grocery|     Standard|
|       C005|Sanjay|   MUMBAI| 35|       72000|Electronics|      Premium|
|       C006| Kavya|HYDERABAD| 28|       48000|    Grocery|     Standard|
|       C007| Imran|    DELHI| 31|       53000|   Clothing|     Standard|
|       C008| Divya|  CHENNAI| 27|       45000|Electronics|     Standard|
|       C009|  Anil|BANGALORE| 40|       85000|  Furniture|      Premium|
|       C010|  Ritu|   MUMBAI| 23|       39000|   Clothing|     Standard|
|       C011|  Hari|HYDERABAD| 33|       56000|    Grocery|     Standard|
|       C012|  Sana|    DELHI| 26|       47000|Electronics|     Standard|
|       C013|Vikram|  CHENNAI| 38|       91000|  Furniture|      Premium|
|       C014| Deepa|   MUMBAI| 30|       62000|   Clothing|     Standard|
|       C015|  Asha|BANGALORE| 24|       41000|    Grocery|     Standard|
|       C016| Kiran|    DELHI| 29|       59000|  Furniture|     Standard|
|       C017| Farah|HYDERABAD| 36|       70000|   Clothing|     Standard|
|       C018| Tarun|  CHENNAI| 28|       53000|  Furniture|     Standard|
|       C019| Nisha|   MUMBAI| 21|       35000|    Grocery|     Standard|
|       C020| Yusuf|BANGALORE| 34|       76000|Electronics|      Premium|
+-----------+------+---------+---+------------+-----------+-------------+
only showing top 20 rows

#Remove the category column from the DataFrame.

In [ ]:
df3.drop("category").show()

+-----------+------+---------+---+------------+-------------+
|customer_id|  name|     city|age|annual_spend|customer_type|
+-----------+------+---------+---+------------+-------------+
|       C001| Arjun|HYDERABAD| 25|       45000|     Standard|
|       C002| Meera|  CHENNAI| 32|       52000|     Standard|
|       C003|Rajesh|BANGALORE| 29|       61000|     Standard|
|       C004| Priya|    DELHI| 22|       38000|     Standard|
|       C005|Sanjay|   MUMBAI| 35|       72000|      Premium|
|       C006| Kavya|HYDERABAD| 28|       48000|     Standard|
|       C007| Imran|    DELHI| 31|       53000|     Standard|
|       C008| Divya|  CHENNAI| 27|       45000|     Standard|
|       C009|  Anil|BANGALORE| 40|       85000|      Premium|
|       C010|  Ritu|   MUMBAI| 23|       39000|     Standard|
|       C011|  Hari|HYDERABAD| 33|       56000|     Standard|
|       C012|  Sana|    DELHI| 26|       47000|     Standard|
|       C013|Vikram|  CHENNAI| 38|       91000|      Premium|
|       C014| Deepa|   MUMBAI| 30|       62000|     Standard|
|       C015|  Asha|BANGALORE| 24|       41000|     Standard|
|       C016| Kiran|    DELHI| 29|       59000|     Standard|
|       C017| Farah|HYDERABAD| 36|       70000|     Standard|
|       C018| Tarun|  CHENNAI| 28|       53000|     Standard|
|       C019| Nisha|   MUMBAI| 21|       35000|     Standard|
|       C020| Yusuf|BANGALORE| 34|       76000|      Premium|
+-----------+------+---------+---+------------+-------------+
only showing top 20 rows

#Sort customers by age in descending order.

In [ ]:

from pyspark.sql.functions import desc

df.orderBy(desc("age")).show()

+-----------+------+---------+---+------------+-----------+-------------+
|customer_id|  name|     city|age|annual_spend|   category|customer_type|
+-----------+------+---------+---+------------+-----------+-------------+
|       C027|Mahesh|Hyderabad| 41|       90000|  Furniture|      Premium|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      Premium|
|       C025|Gautam|   Mumbai| 39|       82000|  Furniture|      Premium|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      Premium|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|     Standard|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      Premium|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      Premium|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|     Standard|
|       C029|Sameer|Bangalore| 33|       68000|Electronics|     Standard|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|     Standard|
|       C022|  Zara|Hyderabad| 32|       58000|    Grocery|     Standard|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|     Standard|
|       C023|  Ajay|  Chennai| 30|       51000|  Furniture|     Standard|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|     Standard|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|     Standard|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|     Standard|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|     Standard|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|     Standard|
|       C024| Reema|Bangalore| 28|       49000|   Clothing|     Standard|
|       C008| Divya|  Chennai| 27|       45000|Electronics|     Standard|
+-----------+------+---------+---+------------+-----------+-------------+
only showing top 20 rows

#Find customers who are younger than the average age of the entire dataset.

In [ ]:


from pyspark.sql.functions import avg, col

avg_age = df.select(avg("age")).first()[0]
print(avg_age)

df.filter(col("age") < avg_age).show()

29.8
+-----------+------+---------+---+------------+-----------+-------------+
|customer_id|  name|     city|age|annual_spend|   category|customer_type|
+-----------+------+---------+---+------------+-----------+-------------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|     Standard|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|     Standard|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|     Standard|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|     Standard|
|       C008| Divya|  Chennai| 27|       45000|Electronics|     Standard|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|     Standard|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|     Standard|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|     Standard|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|     Standard|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|     Standard|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|     Standard|
|       C021| Pooja|    Delhi| 27|       47000|   Clothing|     Standard|
|       C024| Reema|Bangalore| 28|       49000|   Clothing|     Standard|
|       C026| Swati|    Delhi| 25|       46000|Electronics|     Standard|
|       C028| Anita|  Chennai| 26|       44000|   Clothing|     Standard|
|       C030| Leela|    Delhi| 22|       36000|    Grocery|     Standard|
+-----------+------+---------+---+------------+-----------+-------------+

#Display the top 5 highest spending customers.

In [ ]:
df.orderBy(desc("annual_spend")).show(5)

+-----------+------+---------+---+------------+-----------+-------------+
|customer_id|  name|     city|age|annual_spend|   category|customer_type|
+-----------+------+---------+---+------------+-----------+-------------+
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      Premium|
|       C027|Mahesh|Hyderabad| 41|       90000|  Furniture|      Premium|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      Premium|
|       C025|Gautam|   Mumbai| 39|       82000|  Furniture|      Premium|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      Premium|
+-----------+------+---------+---+------------+-----------+-------------+
only showing top 5 rows

#Create a new DataFrame containing only customers from Mumbai.

In [ ]:
df_new=df.filter(col("city")=="Mumbai")
df_new.show()

+-----------+------+------+---+------------+-----------+-------------+
|customer_id|  name|  city|age|annual_spend|   category|customer_type|
+-----------+------+------+---+------------+-----------+-------------+
|       C005|Sanjay|Mumbai| 35|       72000|Electronics|      Premium|
|       C010|  Ritu|Mumbai| 23|       39000|   Clothing|     Standard|
|       C014| Deepa|Mumbai| 30|       62000|   Clothing|     Standard|
|       C019| Nisha|Mumbai| 21|       35000|    Grocery|     Standard|
|       C025|Gautam|Mumbai| 39|       82000|  Furniture|      Premium|
+-----------+------+------+---+------------+-----------+-------------+

#Extract the first letter of each name and store in a new column.

In [ ]:
from pyspark.sql.functions import col, substring

df = df.withColumn("first_letter",substring(col("name"), 1, 1))
df.show()

+-----------+------+---------+---+------------+-----------+-------------+------------+
|customer_id|  name|     city|age|annual_spend|   category|customer_type|first_letter|
+-----------+------+---------+---+------------+-----------+-------------+------------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|     Standard|           A|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|     Standard|           M|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|     Standard|           R|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|     Standard|           P|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      Premium|           S|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|     Standard|           K|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|     Standard|           I|
|       C008| Divya|  Chennai| 27|       45000|Electronics|     Standard|           D|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      Premium|           A|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|     Standard|           R|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|     Standard|           H|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|     Standard|           S|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      Premium|           V|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|     Standard|           D|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|     Standard|           A|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|     Standard|           K|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|     Standard|           F|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|     Standard|           T|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|     Standard|           N|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      Premium|           Y|
+-----------+------+---------+---+------------+-----------+-------------+------------+
only showing top 20 rows