In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder \
      .appName("Basics") \
      .getOrCreate()

In [ ]:
data = [
    ("O001","Amit","Hyderabad","Spice Hub","Indian",450,35,"UPI","Delivered"),
    ("O002","Neha","Bangalore","Pizza Town","Italian",650,40,"Card","Delivered"),
    ("O003","Rahul","Delhi","Burger Zone","American",520,30,"Cash","Delivered"),
    ("O004","Pooja","Mumbai","Sushi Bar","Japanese",1200,55,"UPI","Cancelled"),
    ("O005","Arjun","Chennai","Curry Leaf","Indian",380,28,"UPI","Delivered"),
    ("O006","Sneha","Hyderabad","Pasta Street","Italian",700,45,"Card","Delivered"),
    ("O007","Karan","Delhi","Taco Bell","Mexican",540,33,"UPI","Delivered"),
    ("O008","Riya","Bangalore","Dragon Bowl","Chinese",600,38,"Wallet","Delivered"),
    ("O009","Vikas","Mumbai","BBQ Nation","Indian",1500,60,"Card","Delivered"),
    ("O010","Anjali","Chennai","Burger Zone","American",480,32,"Cash","Delivered"),
    ("O011","Farhan","Delhi","Biryani House","Indian",520,36,"UPI","Delivered"),
    ("O012","Megha","Hyderabad","Sushi Bar","Japanese",1100,58,"Card","Cancelled"),
    ("O013","Suresh","Bangalore","Curry Leaf","Indian",420,29,"UPI","Delivered"),
    ("O014","Divya","Mumbai","Pizza Town","Italian",780,42,"Wallet","Delivered"),
    ("O015","Nikhil","Delhi","Pasta Street","Italian",690,47,"UPI","Delivered"),
    ("O016","Kavya","Chennai","Dragon Bowl","Chinese",560,34,"UPI","Delivered"),
    ("O017","Rohit","Hyderabad","BBQ Nation","Indian",1400,62,"Card","Delivered"),
    ("O018","Simran","Bangalore","Burger Zone","American",510,31,"Cash","Delivered"),
    ("O019","Ayesha","Mumbai","Taco Bell","Mexican",570,35,"UPI","Delivered"),
    ("O020","Manish","Delhi","Curry Leaf","Indian",390,27,"Wallet","Delivered"),
    ("O021","Priya","Hyderabad","Pizza Town","Italian",720,41,"Card","Delivered"),
    ("O022","Yash","Chennai","Sushi Bar","Japanese",1150,57,"UPI","Delivered"),
    ("O023","Naina","Bangalore","Pasta Street","Italian",680,44,"UPI","Delivered"),
    ("O024","Sameer","Mumbai","Dragon Bowl","Chinese",610,39,"Wallet","Delivered"),
    ("O025","Ritika","Delhi","Burger Zone","American",500,30,"Cash","Delivered"),
    ("O026","Gopal","Hyderabad","Curry Leaf","Indian",410,28,"UPI","Delivered"),
    ("O027","Tina","Bangalore","Pizza Town","Italian",760,43,"Card","Delivered"),
    ("O028","Irfan","Mumbai","BBQ Nation","Indian",1550,65,"Card","Delivered"),
    ("O029","Sahil","Chennai","Taco Bell","Mexican",590,37,"UPI","Delivered"),
    ("O030","Lavanya","Delhi","Dragon Bowl","Chinese",630,40,"Wallet","Delivered"),
    ("O031","Deepak","Hyderabad","Burger Zone","American",520,33,"Cash","Delivered"),
    ("O032","Shweta","Bangalore","Curry Leaf","Indian",450,31,"UPI","Delivered"),
    ("O033","Aman","Mumbai","Pizza Town","Italian",810,46,"Card","Delivered"),
    ("O034","Rekha","Chennai","Pasta Street","Italian",700,45,"UPI","Delivered"),
    ("O035","Zubin","Delhi","BBQ Nation","Indian",1480,63,"Card","Delivered"),
    ("O036","Pallavi","Hyderabad","Dragon Bowl","Chinese",580,36,"Wallet","Delivered"),
    ("O037","Naveen","Bangalore","Taco Bell","Mexican",560,34,"UPI","Delivered"),
    ("O038","Sonia","Mumbai","Sushi Bar","Japanese",1180,59,"Card","Delivered"),
    ("O039","Harish","Chennai","Burger Zone","American",490,29,"Cash","Delivered"),
    ("O040","Kriti","Delhi","Curry Leaf","Indian",420,26,"UPI","Delivered")
]

columns = [
    "order_id","customer_name","city","restaurant","cuisine",
    "order_amount","delivery_time_minutes","payment_mode","order_status"
]

df = spark.createDataFrame(data, columns)
df.show()
df.printSchema()

#Write the full dataset to CSV with header enabled.

In [ ]:


df.write \
  .mode("overwrite") \
  .option("header", True) \
  .csv("orders.csv")


df2 = spark.read \
  .option("header", True) \
  .option("inferSchema", True) \
  .csv("orders.csv")

df2.show(30)
df2.printSchema()

#Read the CSV back and filter:order_amount > 700

In [ ]:

df3 = spark.read \
  .option("header", True) \
  .option("inferSchema", True) \
  .csv("orders.csv")
new_df=df3.filter(df3.order_amount>700)
new_df.show()

#From CSV, show only:order_id,city,cuisine,order_amount

In [ ]:

df4 = spark.read \
    .option("header", True) \
    .option("inferSchema", True) \
    .csv("orders.csv")

# Select only the required columns
selected_df = df4.select("order_id", "city", "cuisine", "order_amount")

# Show the result
selected_df.show()

#Sort orders by delivery_time_minutes descending and write result to CSV.

In [ ]:
df4 = spark.read \
    .option("header", True) \
    .option("inferSchema", True) \
    .csv("orders.csv")
from pyspark.sql.functions import desc

df5=df4.orderBy(desc("delivery_time_minutes"))
df5.coalesce(1) \
  .write \
  .mode("overwrite") \
  .option("header", True) \
  .csv("sort_orders.csv")

#Write only “Delivered” orders to JSON.

In [ ]:
df_new=df.filter(df.order_status=="Delivered")
df_new.write.mode("overwrite").json("orders.json")

#Read JSON and filter:
city = "Mumbai"
payment_mode = "Card"

In [ ]:
df2=spark.read.json("orders.json")
filter_df=df2.filter((df2.city=="Mumbai")&(df2.payment_mode=="Card"))
filter_df.show()

+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+
|  city| cuisine|customer_name|delivery_time_minutes|order_amount|order_id|order_status|payment_mode|restaurant|
+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+
|Mumbai|  Indian|        Irfan|                   65|        1550|    O028|   Delivered|        Card|BBQ Nation|
|Mumbai| Italian|         Aman|                   46|         810|    O033|   Delivered|        Card|Pizza Town|
|Mumbai|Japanese|        Sonia|                   59|        1180|    O038|   Delivered|        Card| Sushi Bar|
|Mumbai|  Indian|        Vikas|                   60|        1500|    O009|   Delivered|        Card|BBQ Nation|
+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+

#Add a column:
delivery_category
Logic:
delivery_time_minutes > 45 → "Late"
else → "OnTime"
Write output to JSON.

In [ ]:
from pyspark.sql.functions import col,when
df3 = df2.withColumn("delivery_category", when(col("delivery_time_minutes") > 45, "Late").otherwise("OnTime"))

df3.show()
df3.write.mode("overwrite").json("orders_new_col.json")

#Force JSON output to a single partition and observe number of files created.

In [ ]:
df3.coalesce(1)\
.write \
.mode("overwrite")\
.json("orders_new_col.json")

#Convert full dataset to Parquet.

In [ ]:
df.write.mode("overwrite").parquet("orders_new.parquet")

#Read Parquet and filter:
cuisine = "Indian"
order_amount > 500

In [ ]:
df_parquet=spark.read.parquet("orders_new.parquet")
filt_df=df_parquet.filter((df_parquet.cuisine=="Indian")&(df_parquet.order_amount>500))
filt_df.show()

#Sort Parquet data by order_amount descending and write top 10 orders back to Parquet.

In [ ]:
sorted_parquet=df_parquet.orderBy(desc("order_amount"))
top_10_parquet=sorted_parquet.limit(10)
top_10_parquet.write.mode("overwrite").parquet("top10_orders.parquet")
df_parquet=spark.read.parquet("top10_orders.parquet")
df_parquet.show()

Compare storage size of:CSVJSONParquet
Answer:
Which is smallest?
Why?

In [ ]:


df.write.mode("overwrite").option("header", True).csv("data_csv")

df.write.mode("overwrite").json("data_json")


df.write.mode("overwrite").parquet("data_parquet")

In [ ]:

import os

def get_size(path):
    return sum(os.path.getsize(os.path.join(path, f)) for f in os.listdir(path))

print("CSV size:", get_size("data_csv"), "bytes")
print("JSON size:", get_size("data_json"), "bytes")
print("Parquet size:", get_size("data_parquet"), "bytes")

CSV size: 2695 bytes
JSON size: 8199 bytes
Parquet size: 7370 bytes

Convert:
CSV → Parquet
JSON → Parquet

In [ ]:

df_json = spark.read.json("orders_new_col.json")

df_json.write \
    .mode("overwrite") \
    .parquet("orders_new_col.parquet")
df_orders_new_col=spark.read.parquet("orders_new_col.parquet")
df_orders_new_col.show()

In [ ]:

df_csv = spark.read \
    .option("header", True) \
    .option("inferSchema", True) \
    .csv("sort_orders.csv")

df_csv.write \
    .mode("overwrite") \
    .parquet("sort_orders.parquet")
df_sort_orders_parquet=spark.read.parquet("sort_orders.parquet")
df_sort_orders_parquet.show()

Read Parquet and write it back as CSV using delimiter |

In [ ]:

df_sort_orders_parquet.write \
.mode("overwrite") \
.option("header", True) \
.option("sep", "|")\
.csv("newcsv.csv")


df2 = spark.read \
  .option("header", True) \
  .option("inferSchema", True) \
  .option("sep", "|") \
  .csv("newcsv.csv")

df2.show()

#Which cuisine generates the highest order_amount overall?

In [ ]:

top_row = df.orderBy(desc("order_amount")).first()
print(top_row["cuisine"])

Indian

#Which city has the highest number of orders?

In [ ]:

from pyspark.sql import functions as F

city_counts = (
    df.groupBy("city")
      .agg(F.count("*").alias("orders"))
      .orderBy(F.desc("orders"))
)

city_counts.show()

top_city = city_counts.first()
print("Top city:", top_city["city"], "Orders:", top_city["orders"])

+---------+------+
|     city|orders|
+---------+------+
|    Delhi|     9|
|Bangalore|     8|
|   Mumbai|     8|
|Hyderabad|     8|
|  Chennai|     7|
+---------+------+

Top city: Delhi Orders: 9

#Which payment mode is most frequently used?

In [ ]:



payment_mode = (
    df.groupBy("Payment_mode")
      .agg(F.count("*").alias("mode"))
      .orderBy(F.desc("mode"))
)

payment_mode.show()

first= payment_mode.first()
print(first['Payment_mode'])

+------------+----+
|Payment_mode|mode|
+------------+----+
|         UPI|  17|
|        Card|  11|
|        Cash|   6|
|      Wallet|   6|
+------------+----+

UPI

#Why is Parquet the preferred format for analytics platforms like Databricks and BigQuery?

Parquet is preferred because it’s fast, efficient, and smart:

Columnar format → Reads only the columns you need, speeding up queries.
Compression & encoding → Much smaller files than CSV/JSON.
Schema built-in → No guessing data types, supports complex structures.
Optimized for big data → Enables parallel processing and skips irrelevant data (predicate pushdown).
Lower cost → Less storage and faster queries mean cheaper analytics.

#
Repartition the dataset into 4 partitions and write to Parquet.

In [ ]:


df_repartitioned = df.repartition(4)

df_repartitioned.write \
    .mode("overwrite") \
    .parquet("4part.parquet")

#Create a report dataset containing:
city
total_orders
total_revenue
Write it to Parquet.

In [ ]:

from pyspark.sql import functions as F


df_report = df.withColumn("order_amount", F.col("order_amount").cast("double"))

report_df = (

    df_report.groupBy("city")
    .agg(
        F.countDistinct("order_id").alias("total_orders"),
        F.sum("order_amount").alias("total_revenue")
    )
    .orderBy(F.desc("total_orders"))
)

report_df.show()

+---------+------------+-------------+
|     city|total_orders|total_revenue|
+---------+------------+-------------+
|    Delhi|           9|       5690.0|
|Bangalore|           8|       4630.0|
|   Mumbai|           8|       8200.0|
|Hyderabad|           8|       5880.0|
|  Chennai|           7|       4350.0|
+---------+------------+-------------+

In [ ]:
report_df.write \
    .mode("overwrite") \
    .parquet("order_report.parquet")

In [ ]:
df_12=spark.read.parquet("order_report.parquet")
df_12.show()

+---------+------------+-------------+
|     city|total_orders|total_revenue|
+---------+------------+-------------+
|    Delhi|           9|       5690.0|
|Bangalore|           8|       4630.0|
|   Mumbai|           8|       8200.0|
|Hyderabad|           8|       5880.0|
|  Chennai|           7|       4350.0|
+---------+------------+-------------+