In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder \
      .appName("Basics") \
    .getOrCreate()

In [ ]:
data = [
("T001","Amit","Hyderabad","Ramesh","Sedan",12.5,320,28,"UPI","Completed"),
("T002","Neha","Bangalore","Suresh","Mini",8.2,210,22,"Card","Completed"),
("T003","Rahul","Delhi","Anil","Bike",5.1,120,15,"Cash","Completed"),
("T004","Pooja","Mumbai","Vikas","SUV",18.0,560,45,"UPI","Cancelled"),
("T005","Arjun","Chennai","Kumar","Mini",7.8,200,20,"UPI","Completed"),
("T006","Sneha","Hyderabad","Ramesh","Sedan",14.2,360,32,"Card","Completed"),
("T007","Karan","Delhi","Anil","Bike",6.3,140,18,"UPI","Completed"),
("T008","Riya","Bangalore","Suresh","Sedan",11.0,300,27,"Wallet","Completed"),
("T009","Vikas","Mumbai","Vijay","SUV",20.5,650,50,"Card","Completed"),
("T010","Anjali","Chennai","Kumar","Bike",4.9,110,14,"Cash","Completed"),
("T011","Farhan","Delhi","Anil","Mini",9.6,240,25,"UPI","Completed"),
("T012","Megha","Hyderabad","Ramesh","SUV",19.2,610,48,"Card","Cancelled"),
("T013","Suresh","Bangalore","Suresh","Sedan",13.0,340,30,"UPI","Completed"),
("T014","Divya","Mumbai","Vikas","Mini",10.2,260,26,"Wallet","Completed"),
("T015","Nikhil","Delhi","Anil","Sedan",15.5,390,34,"UPI","Completed"),
("T016","Kavya","Chennai","Kumar","Sedan",12.1,315,29,"UPI","Completed"),
("T017","Rohit","Hyderabad","Ramesh","SUV",22.0,700,55,"Card","Completed"),
("T018","Simran","Bangalore","Suresh","Bike",5.8,130,16,"Cash","Completed"),
("T019","Ayesha","Mumbai","Vijay","Mini",9.9,250,24,"UPI","Completed"),
("T020","Manish","Delhi","Anil","Bike",6.0,135,17,"Wallet","Completed"),
("T021","Priya","Hyderabad","Ramesh","Sedan",14.8,380,33,"Card","Completed"),
("T022","Yash","Chennai","Kumar","SUV",21.3,680,52,"UPI","Completed"),
("T023","Naina","Bangalore","Suresh","Mini",10.7,270,28,"UPI","Completed"),
("T024","Sameer","Mumbai","Vikas","Sedan",13.9,350,31,"Wallet","Compleed"),
("T025","Ritika","Delhi","Anil","Bike",5.4,125,16,"Cash","Completed"),
("T026","Gopal","Hyderabad","Ramesh","Mini",8.9,225,23,"UPI","Completeed"),
("T027","Tina","Bangalore","Suresh","Sedan",12.6,330,29,"Card","Compleed"),
("T028","Irfan","Mumbai","Vijay","SUV",23.4,740,58,"Card","Completed"),
("T029","Sahil","Chennai","Kumar","Mini",9.4,235,24,"UPI","Completed"),
("T030","Lavanya","Delhi","Anil","Sedan",14.1,365,32,"Wallet","Complewed"),
("T031","Deepak","Hyderabad","Ramesh","Bike",6.7,150,18,"Cash","Completed"),
("T032","Shweta","Bangalore","Suresh","Mini",10.0,255,26,"UPI","Completed"),
("T033","Aman","Mumbai","Vikas","Sedan",15.8,395,35,"Card","Completed"),
("T034","Rekha","Chennai","Kumar","Sedan",13.5,345,30,"UPI","Completed"),
("T035","Zubin","Delhi","Anil","SUV",24.0,760,60,"Card","Completed"),
("T036","Pallavi","Hyderabad","Ramesh","Mini",9.1,230,23,"Wallet","Completed"),
("T037","Naveen","Bangalore","Suresh","Bike",5.9,135,17,"UPI","Completed"),
("T038","Sonia","Mumbai","Vijay","SUV",21.7,690,54,"Card","Completed"),
("T039","Harish","Chennai","Kumar","Mini",8.5,215,21,"Cash","Completed"),
("T040","Kriti","Delhi","Anil","Sedan",14.6,375,33,"UPI","Completed"),
("T041","Apoorva","Hyderabad","Ramesh","Sedan",13.2,335,30,"Card","Completed"),
("T042","Mohit","Bangalore","Suresh","SUV",19.9,620,49,"UPI","Completed"),
("T043","Tanvi","Mumbai","Vikas","Mini",10.4,265,27,"Wallet","Completed"),
("T044","Rakesh","Chennai","Kumar","Bike",6.2,140,18,"Cash","Completed"),
("T045","Isha","Delhi","Anil","Mini",9.7,245,25,"UPI","Completed")
]
columns = [
"trip_id","rider_name","city","driver_name","vehicle_type",
"distance_km","trip_fare","trip_duration_minutes",
"payment_mode","trip_status"
]
df = spark.createDataFrame(data, columns)
df.show()
df.printSchema()

q1

In [ ]:
df.write \
  .mode("overwrite") \
  .option("header", True) \
  .csv("ride.csv")


df2 = spark.read \
  .option("header", True) \
  .option("inferSchema", True) \
  .csv("ride.csv")

df2.show(30)
df2.printSchema()

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|   T023|     Naina|Bangalore|     Suresh|        Mini|       10.7|      270|                   28|         UPI|  Completed|
|   T024|    Sameer|   Mumbai|      Vikas|       Sedan|       13.9|      350|                   31|      Wallet|   Compleed|
|   T025|    Ritika|    Delhi|       Anil|        Bike|        5.4|      125|                   16|        Cash|  Completed|
|   T026|     Gopal|Hyderabad|     Ramesh|        Mini|        8.9|      225|                   23|         UPI| Completeed|
|   T027|      Tina|Bangalore|     Suresh|       Sedan|       12.6|      330|                   29|        Card|   Compleed|
|   T028|     Irfan|   Mumbai|      Vijay|         SUV|       23.4|      740|                   58|        Card|  Completed|
|   T029|     Sahil|  Chennai|      Kumar|        Mini|        9.4|      235|                   24|         UPI|  Completed|
|   T030|   Lavanya|    Delhi|       Anil|       Sedan|       14.1|      365|                   32|      Wallet|  Complewed|
|   T031|    Deepak|Hyderabad|     Ramesh|        Bike|        6.7|      150|                   18|        Cash|  Completed|
|   T032|    Shweta|Bangalore|     Suresh|        Mini|       10.0|      255|                   26|         UPI|  Completed|
|   T033|      Aman|   Mumbai|      Vikas|       Sedan|       15.8|      395|                   35|        Card|  Completed|
|   T034|     Rekha|  Chennai|      Kumar|       Sedan|       13.5|      345|                   30|         UPI|  Completed|
|   T035|     Zubin|    Delhi|       Anil|         SUV|       24.0|      760|                   60|        Card|  Completed|
|   T036|   Pallavi|Hyderabad|     Ramesh|        Mini|        9.1|      230|                   23|      Wallet|  Completed|
|   T037|    Naveen|Bangalore|     Suresh|        Bike|        5.9|      135|                   17|         UPI|  Completed|
|   T038|     Sonia|   Mumbai|      Vijay|         SUV|       21.7|      690|                   54|        Card|  Completed|
|   T039|    Harish|  Chennai|      Kumar|        Mini|        8.5|      215|                   21|        Cash|  Completed|
|   T040|     Kriti|    Delhi|       Anil|       Sedan|       14.6|      375|                   33|         UPI|  Completed|
|   T041|   Apoorva|Hyderabad|     Ramesh|       Sedan|       13.2|      335|                   30|        Card|  Completed|
|   T042|     Mohit|Bangalore|     Suresh|         SUV|       19.9|      620|                   49|         UPI|  Completed|
|   T043|     Tanvi|   Mumbai|      Vikas|        Mini|       10.4|      265|                   27|      Wallet|  Completed|
|   T044|    Rakesh|  Chennai|      Kumar|        Bike|        6.2|      140|                   18|        Cash|  Completed|
|   T045|      Isha|    Delhi|       Anil|        Mini|        9.7|      245|                   25|         UPI|  Completed|
|   T001|      Amit|Hyderabad|     Ramesh|       Sedan|       12.5|      320|                   28|         UPI|  Completed|
|   T002|      Neha|Bangalore|     Suresh|        Mini|        8.2|      210|                   22|        Card|  Completed|
|   T003|     Rahul|    Delhi|       Anil|        Bike|        5.1|      120|                   15|        Cash|  Completed|
|   T004|     Pooja|   Mumbai|      Vikas|         SUV|       18.0|      560|                   45|         UPI|  Cancelled|
|   T005|     Arjun|  Chennai|      Kumar|        Mini|        7.8|      200|                   20|         UPI|  Completed|
|   T006|     Sneha|Hyderabad|     Ramesh|       Sedan|       14.2|      360|                   32|        Card|  Completed|
|   T007|     Karan|    Delhi|       Anil|        Bike|        6.3|      140|                   18|         UPI|  Completed|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
only showing top 30 rows
root
 |-- trip_id: string (nullable = true)
 |-- rider_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- driver_name: string (nullable = true)
 |-- vehicle_type: string (nullable = true)
 |-- distance_km: double (nullable = true)
 |-- trip_fare: integer (nullable = true)
 |-- trip_duration_minutes: integer (nullable = true)
 |-- payment_mode: string (nullable = true)
 |-- trip_status: string (nullable = true)

Read the CSV and filter:
trip_fare > 400
trip_status = "Completed"

In [ ]:

df3 = spark.read \
  .option("header", True) \
  .option("inferSchema", True) \
  .csv("ride.csv")
new_df=df3.filter((df3.trip_fare>400)&(df3.trip_status=="Completed"))
new_df.show()

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|   T028|     Irfan|   Mumbai|      Vijay|         SUV|       23.4|      740|                   58|        Card|  Completed|
|   T035|     Zubin|    Delhi|       Anil|         SUV|       24.0|      760|                   60|        Card|  Completed|
|   T038|     Sonia|   Mumbai|      Vijay|         SUV|       21.7|      690|                   54|        Card|  Completed|
|   T042|     Mohit|Bangalore|     Suresh|         SUV|       19.9|      620|                   49|         UPI|  Completed|
|   T009|     Vikas|   Mumbai|      Vijay|         SUV|       20.5|      650|                   50|        Card|  Completed|
|   T017|     Rohit|Hyderabad|     Ramesh|         SUV|       22.0|      700|                   55|        Card|  Completed|
|   T022|      Yash|  Chennai|      Kumar|         SUV|       21.3|      680|                   52|         UPI|  Completed|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+

From CSV, select:
trip_id
city
vehicle_type
trip_fare
Sort by trip_fare descending.

In [ ]:
from pyspark.sql.functions import desc,when,col
df4 = spark.read \
    .option("header", True) \
    .option("inferSchema", True) \
    .csv("ride.csv")


selected_df = df4.select("trip_id", "city", "vehicle_type", "trip_fare")

# Show the result
selected_df.orderBy(desc("trip_fare")).show()

+-------+---------+------------+---------+
|trip_id|     city|vehicle_type|trip_fare|
+-------+---------+------------+---------+
|   T035|    Delhi|         SUV|      760|
|   T028|   Mumbai|         SUV|      740|
|   T017|Hyderabad|         SUV|      700|
|   T038|   Mumbai|         SUV|      690|
|   T022|  Chennai|         SUV|      680|
|   T009|   Mumbai|         SUV|      650|
|   T042|Bangalore|         SUV|      620|
|   T012|Hyderabad|         SUV|      610|
|   T004|   Mumbai|         SUV|      560|
|   T033|   Mumbai|       Sedan|      395|
|   T015|    Delhi|       Sedan|      390|
|   T021|Hyderabad|       Sedan|      380|
|   T040|    Delhi|       Sedan|      375|
|   T030|    Delhi|       Sedan|      365|
|   T006|Hyderabad|       Sedan|      360|
|   T024|   Mumbai|       Sedan|      350|
|   T034|  Chennai|       Sedan|      345|
|   T013|Bangalore|       Sedan|      340|
|   T041|Hyderabad|       Sedan|      335|
|   T027|Bangalore|       Sedan|      330|
+-------+---------+------------+---------+
only showing top 20 rows

#Write only Bike trips to CSV using delimiter | .

In [ ]:
df_filt=df.filter(df.vehicle_type=="Bike")
df_filt.write \
.mode("overwrite") \
.option("header", True) \
.option("sep", "|")\
.csv("newcsv.csv")


df2 = spark.read \
  .option("header", True) \
  .option("inferSchema", True) \
  .option("sep", "|") \
  .csv("newcsv.csv")

df2.show()

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|   T003|     Rahul|    Delhi|       Anil|        Bike|        5.1|      120|                   15|        Cash|  Completed|
|   T007|     Karan|    Delhi|       Anil|        Bike|        6.3|      140|                   18|         UPI|  Completed|
|   T010|    Anjali|  Chennai|      Kumar|        Bike|        4.9|      110|                   14|        Cash|  Completed|
|   T018|    Simran|Bangalore|     Suresh|        Bike|        5.8|      130|                   16|        Cash|  Completed|
|   T020|    Manish|    Delhi|       Anil|        Bike|        6.0|      135|                   17|      Wallet|  Completed|
|   T025|    Ritika|    Delhi|       Anil|        Bike|        5.4|      125|                   16|        Cash|  Completed|
|   T031|    Deepak|Hyderabad|     Ramesh|        Bike|        6.7|      150|                   18|        Cash|  Completed|
|   T037|    Naveen|Bangalore|     Suresh|        Bike|        5.9|      135|                   17|         UPI|  Completed|
|   T044|    Rakesh|  Chennai|      Kumar|        Bike|        6.2|      140|                   18|        Cash|  Completed|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+

#Write only trips from Mumbai to JSON.

In [ ]:
df_new=df.filter(df.city=="Mumbai")
df_new.write.mode("overwrite").json("json_numbai_trip.json")

#Read JSON and add a column:
fare_per_km = trip_fare / distance_km
Write back to JSON.

In [ ]:
df3 = df.withColumn("fare_per_km", col("trip_fare")/col("distance_km"))

df3.show()
df3.write.mode("overwrite").json("ride_new_col.json")

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+------------------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|       fare_per_km|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+------------------+
|   T001|      Amit|Hyderabad|     Ramesh|       Sedan|       12.5|      320|                   28|         UPI|  Completed|              25.6|
|   T002|      Neha|Bangalore|     Suresh|        Mini|        8.2|      210|                   22|        Card|  Completed| 25.60975609756098|
|   T003|     Rahul|    Delhi|       Anil|        Bike|        5.1|      120|                   15|        Cash|  Completed|23.529411764705884|
|   T004|     Pooja|   Mumbai|      Vikas|         SUV|       18.0|      560|                   45|         UPI|  Cancelled| 31.11111111111111|
|   T005|     Arjun|  Chennai|      Kumar|        Mini|        7.8|      200|                   20|         UPI|  Completed|25.641025641025642|
|   T006|     Sneha|Hyderabad|     Ramesh|       Sedan|       14.2|      360|                   32|        Card|  Completed| 25.35211267605634|
|   T007|     Karan|    Delhi|       Anil|        Bike|        6.3|      140|                   18|         UPI|  Completed| 22.22222222222222|
|   T008|      Riya|Bangalore|     Suresh|       Sedan|       11.0|      300|                   27|      Wallet|  Completed|27.272727272727273|
|   T009|     Vikas|   Mumbai|      Vijay|         SUV|       20.5|      650|                   50|        Card|  Completed| 31.70731707317073|
|   T010|    Anjali|  Chennai|      Kumar|        Bike|        4.9|      110|                   14|        Cash|  Completed|22.448979591836732|
|   T011|    Farhan|    Delhi|       Anil|        Mini|        9.6|      240|                   25|         UPI|  Completed|              25.0|
|   T012|     Megha|Hyderabad|     Ramesh|         SUV|       19.2|      610|                   48|        Card|  Cancelled|31.770833333333336|
|   T013|    Suresh|Bangalore|     Suresh|       Sedan|       13.0|      340|                   30|         UPI|  Completed|26.153846153846153|
|   T014|     Divya|   Mumbai|      Vikas|        Mini|       10.2|      260|                   26|      Wallet|  Completed|25.490196078431374|
|   T015|    Nikhil|    Delhi|       Anil|       Sedan|       15.5|      390|                   34|         UPI|  Completed|25.161290322580644|
|   T016|     Kavya|  Chennai|      Kumar|       Sedan|       12.1|      315|                   29|         UPI|  Completed| 26.03305785123967|
|   T017|     Rohit|Hyderabad|     Ramesh|         SUV|       22.0|      700|                   55|        Card|  Completed|31.818181818181817|
|   T018|    Simran|Bangalore|     Suresh|        Bike|        5.8|      130|                   16|        Cash|  Completed|22.413793103448278|
|   T019|    Ayesha|   Mumbai|      Vijay|        Mini|        9.9|      250|                   24|         UPI|  Completed|25.252525252525253|
|   T020|    Manish|    Delhi|       Anil|        Bike|        6.0|      135|                   17|      Wallet|  Completed|              22.5|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+------------------+
only showing top 20 rows

Filter JSON data:
payment_mode = "Card"
vehicle_type = "SUV"

In [ ]:
df3=spark.read.json("ride_new_col.json")
df3_filt=df3.filter((df3.payment_mode=="Card") & (df3.vehicle_type=="SUV"))
df3_filt.show()

+---------+-----------+-----------+------------------+------------+----------+---------------------+---------+-------+-----------+------------+
|     city|distance_km|driver_name|       fare_per_km|payment_mode|rider_name|trip_duration_minutes|trip_fare|trip_id|trip_status|vehicle_type|
+---------+-----------+-----------+------------------+------------+----------+---------------------+---------+-------+-----------+------------+
|   Mumbai|       23.4|      Vijay|31.623931623931625|        Card|     Irfan|                   58|      740|   T028|  Completed|         SUV|
|    Delhi|       24.0|       Anil|31.666666666666668|        Card|     Zubin|                   60|      760|   T035|  Completed|         SUV|
|   Mumbai|       21.7|      Vijay|31.797235023041477|        Card|     Sonia|                   54|      690|   T038|  Completed|         SUV|
|   Mumbai|       20.5|      Vijay| 31.70731707317073|        Card|     Vikas|                   50|      650|   T009|  Completed|         SUV|
|Hyderabad|       19.2|     Ramesh|31.770833333333336|        Card|     Megha|                   48|      610|   T012|  Cancelled|         SUV|
|Hyderabad|       22.0|     Ramesh|31.818181818181817|        Card|     Rohit|                   55|      700|   T017|  Completed|         SUV|
+---------+-----------+-----------+------------------+------------+----------+---------------------+---------+-------+-----------+------------+

Force JSON output into a single partition and observe the output structure.

In [ ]:

df_repartitioned = df3.repartition(1)

df_repartitioned.write \
    .mode("overwrite") \
    .json("1part.json")

#Convert full dataset to Parquet.

In [ ]:
df.write.mode("overwrite").parquet("rides_new.parquet")

Read Parquet and filter:
trip_duration_minutes > 45

In [ ]:
df_parquet=spark.read.parquet("rides_new.parquet")
filt_df=df_parquet.filter(df_parquet.trip_duration_minutes>45)
filt_df.show()

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|   T028|     Irfan|   Mumbai|      Vijay|         SUV|       23.4|      740|                   58|        Card|  Completed|
|   T035|     Zubin|    Delhi|       Anil|         SUV|       24.0|      760|                   60|        Card|  Completed|
|   T038|     Sonia|   Mumbai|      Vijay|         SUV|       21.7|      690|                   54|        Card|  Completed|
|   T042|     Mohit|Bangalore|     Suresh|         SUV|       19.9|      620|                   49|         UPI|  Completed|
|   T009|     Vikas|   Mumbai|      Vijay|         SUV|       20.5|      650|                   50|        Card|  Completed|
|   T012|     Megha|Hyderabad|     Ramesh|         SUV|       19.2|      610|                   48|        Card|  Cancelled|
|   T017|     Rohit|Hyderabad|     Ramesh|         SUV|       22.0|      700|                   55|        Card|  Completed|
|   T022|      Yash|  Chennai|      Kumar|         SUV|       21.3|      680|                   52|         UPI|  Completed|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+

#Sort Parquet data by distance_km descending and write top 10 trips back to Parquet.

In [ ]:
sorted_parquet=df_parquet.orderBy(desc("distance_km"))
top_10_parquet=sorted_parquet.limit(10)
top_10_parquet.write.mode("overwrite").parquet("top10rides.parquet")
df_parquet=spark.read.parquet("top10rides.parquet")
df_parquet.show()

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|   T035|     Zubin|    Delhi|       Anil|         SUV|       24.0|      760|                   60|        Card|  Completed|
|   T028|     Irfan|   Mumbai|      Vijay|         SUV|       23.4|      740|                   58|        Card|  Completed|
|   T017|     Rohit|Hyderabad|     Ramesh|         SUV|       22.0|      700|                   55|        Card|  Completed|
|   T038|     Sonia|   Mumbai|      Vijay|         SUV|       21.7|      690|                   54|        Card|  Completed|
|   T022|      Yash|  Chennai|      Kumar|         SUV|       21.3|      680|                   52|         UPI|  Completed|
|   T009|     Vikas|   Mumbai|      Vijay|         SUV|       20.5|      650|                   50|        Card|  Completed|
|   T042|     Mohit|Bangalore|     Suresh|         SUV|       19.9|      620|                   49|         UPI|  Completed|
|   T012|     Megha|Hyderabad|     Ramesh|         SUV|       19.2|      610|                   48|        Card|  Cancelled|
|   T004|     Pooja|   Mumbai|      Vikas|         SUV|       18.0|      560|                   45|         UPI|  Cancelled|
|   T033|      Aman|   Mumbai|      Vikas|       Sedan|       15.8|      395|                   35|        Card|  Completed|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+

Compare storage size of:
CSV
JSON
Parquet
Answer which is smallest and why.

In [ ]:

df.write.mode("overwrite").option("header", True).csv("data_csv")

df.write.mode("overwrite").json("data_json")


df.write.mode("overwrite").parquet("data_parquet")

In [ ]:

import os

def get_size(path):
    return sum(os.path.getsize(os.path.join(path, f)) for f in os.listdir(path))

print("CSV size:", get_size("data_csv"), "bytes")
print("JSON size:", get_size("data_json"), "bytes")
print("Parquet size:", get_size("data_parquet"), "bytes")

CSV size: 2858 bytes
JSON size: 9608 bytes
Parquet size: 8014 bytes

json->

In [ ]:
df_json = spark.read.json("ride_new_col.json")

df_json.write \
    .mode("overwrite") \
    .parquet("ride_new_col.parquet")
df_rides_new_col=spark.read.parquet("ride_new_col.parquet")
df_rides_new_col.show()

In [ ]:

df_csv = spark.read \
    .option("header", True) \
    .option("inferSchema", True) \
    .csv("ride.csv")

df_csv.write \
    .mode("overwrite") \
    .parquet("rides_new.parquet")
df_sort_orders_parquet=spark.read.parquet("rides_new.parquet")
df_sort_orders_parquet.show()

Exercise 15

Which city generates the highest total trip_fare?

Exercise 16

Which vehicle_type has the highest average fare?

Exercise 17

Which driver has completed the most trips?

Exercise 18

Why is Parquet preferred for analytics dashboards and aggregations?

In [ ]:
from pyspark.sql import functions as F

new_df= (
    df.groupBy("vehicle_type")
      .agg(F.sum("trip_fare").alias("amount"))
      .orderBy(F.desc("amount"))
)

new_df.show()

top_veh = new_df.first()
print("Top city:", top_veh["vehicle_type"], "amount:", top_city["amount"])

+------------+------+
|vehicle_type|amount|
+------------+------+
|         SUV|  6010|
|       Sedan|  4900|
|        Mini|  3100|
|        Bike|  1185|
+------------+------+

Top city: SUV amount: 667.7777777777778

In [ ]:
new_df= (
    df.groupBy("vehicle_type")
      .agg(F.avg("trip_fare").alias("amount"))
      .orderBy(F.desc("amount"))
)

new_df.show()

top_city = new_df.first()
print("Top veh:", top_city["vehicle_type"], "amount:", top_city["amount"])

+------------+------------------+
|vehicle_type|            amount|
+------------+------------------+
|         SUV| 667.7777777777778|
|       Sedan|             350.0|
|        Mini|238.46153846153845|
|        Bike|131.66666666666666|
+------------+------------------+

Top veh: SUV amount: 667.7777777777778

In [ ]:
df_filt=df.filter(df.trip_status=="Completed")

In [ ]:
new_df= (
    df.groupBy("rider_name")
      .agg(F.count("*").alias("count"))
      .orderBy(F.desc("count"))
)

new_df.show()

topdriver = new_df.first()
print("Top driver:", topdriver["rider_name"], "rides:", topdriver["count"])

+----------+-----+
|rider_name|count|
+----------+-----+
|    Manish|    1|
|     Divya|    1|
|    Suresh|    1|
|     Sneha|    1|
|      Riya|    1|
|     Priya|    1|
|     Megha|    1|
|    Simran|    1|
|     Rahul|    1|
|    Ayesha|    1|
|     Pooja|    1|
|     Rohit|    1|
|     Vikas|    1|
|     Arjun|    1|
|      Amit|    1|
|      Neha|    1|
|    Nikhil|    1|
|    Farhan|    1|
|      Yash|    1|
|     Karan|    1|
+----------+-----+
only showing top 20 rows
Top driver: Manish rides: 1

In [ ]:

df_repartitioned = df.repartition(4)

df_repartitioned.write \
    .mode("overwrite") \
    .parquet("4part.parquet")

Parquet is preferred because it makes dashboards and aggregations fast and efficient:

Columnar format → Reads only the columns you need, speeding up queries.
Compression & encoding → Smaller files, lower storage cost.
Schema built-in → No guessing data types, supports complex structures.
Optimized for big data → Enables parallel processing and skips irrelevant data (predicate pushdown).

Create a summary dataset with:
city
total_trips
total_revenue

average_trip_duration
Write it to Parquet.

In [ ]:
from pyspark.sql import functions as F


df_report = df.withColumn("order_amount", F.col("order_amount").cast("double"))

report_df = (

    df_report.groupBy("city")
    .agg(
        F.countDistinct("order_id").alias("total_orders"),
        F.sum("order_amount").alias("total_revenue")
    )
    .orderBy(F.desc("total_orders"))
)

report_df.show()